---
import BasicLayout from '../layouts/BasicLayout.astro';
import { getCollection } from 'astro:content';

const mesPizza = {
    titre: "hello pizza",
    description: "pizza is good for health",
};


const pizzas = await getCollection("pizzas");
---

<BasicLayout>
    <h1>{mesPizza.titre}</h1>
    <p>{mesPizza.description}</p>



    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        pizzas.map(({data}) => (
          <div class="bg-gray-100 p-4 rounded-lg shadow-lg">
            <h2 class="text-xl font-bold">{data.pizzaName}</h2>
            <ul>
                {data.ingredients.map ((ingredient) => (<li>{ingredient}</li>))}
            </ul>
          </div>
        ))
      }
    </div>

</BasicLayout>
